/* VARIABLES */
/* COLORS */
/* FONTS */
/* MIXINS */
/* MISC */
* {
  outline: 1px dotted red;
}
.header {
  background-color: #149377;
  padding: 3%;
  margin: 0;
}
.container {
  background: url(images/futurama-bg.jpg) bottom center no-repeat;
  background-size: cover;
  background-color: red;
  padding: 5%;
}
.col-left {
  background-color: #ffffff;
  color: #1a2d33;
  padding-right: 5%;
  width: 50%;
}
.col-right {
  background-color: #eceeed;
  color: #666666;
  padding-left: 5%;
  width: 50%;
}
