/* VARIABLES */

/* COLORS */
@white: #ffffff;
@black: #000000;
@ltgrey: #ECEEED;   // right column
@mdgrey: #666666;   // right column text
@dkslate: #1A2D33;  // header, left column text
@teal: #149377;
@turquoise: #009FDA;



/* FONTS */



/* MIXINS */




/* MISC */

.header {
  background-color: @teal;
}

.col-left {
  background-color: @white; 
  color: @dkslate;
}


.col-right {
  background-color: @ltgrey; 
  color: @mdgrey;
}

